@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Griffy');

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.animate__even_slower {
  animation-duration: 15s !important;
}

.animate__slowest {
  animation-duration: 20s !important;
}

.candy-item {
  height: 25vh;
  width: 26vw;
}

.griffy-family{
  font-family: "Griffy", system-ui;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
